


  <div class="container">
    <!--id="logo_name"-->
    <div class="row justify-content-center mb-4 mt-3">
      <!--id="logo"-->
      <img src="../../assets/ihm3 up.png" />
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-10">
  
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text white" id="search-icon"><i class="fa fa-search"
                aria-hidden="true"></i></span>
          </div>
          <input class="form-control my-0 py-2" [(ngModel)]="texte"  (keyup.enter)="valide();" id="search-input" type="text" placeholder="Search" aria-label="Search">
  
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!--id="bouton"-->
      <div>
          <button class="mt-5" mdbBtn type="button" rounded="true" mdbWavesEffect routerLink="search" (click)="valide()" type="submit">rechercher</button>
      </div>
    </div>
  </div>
  
